<nav class="nav-flex-column">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <div class="nav-link-icon-container">
            <img src="images/home-icon.png" alt="Home Icon" class="nav-link-icon" />
        </div>
        <div class="nav-link-text-container">
            <span class="nav-link-text" aria-hidden="true">Home</span>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="to-invest-in">
        <div class="nav-link-icon-container">
            <img src="images/trending-up-icon.png" alt="Trending Up Icon" class="nav-link-icon" />
        </div>
        <div class="nav-link-text-container">
            <span class="nav-link-text" aria-hidden="true">To Invest In</span>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="to-build">
        <div class="nav-link-icon-container">
            <img src="images/lightbulb-icon.png" alt="Lightbulb Icon" class="nav-link-icon" />
        </div>
        <div class="nav-link-text-container">
            <span class="nav-link-text" aria-hidden="true">To Build</span>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="to-do">
        <div class="nav-link-icon-container">
            <img src="images/list-icon.png" alt="List Icon" class="nav-link-icon" />
        </div>
        <div class="nav-link-text-container">
            <span class="nav-link-text" aria-hidden="true">To Do</span>
        </div>
    </NavLink>

    <NavLink class="nav-link" href="to-study">
        <div class="nav-link-icon-container">
            <img src="images/book-icon.png" alt="Book Icon" class="nav-link-icon" />
        </div>
        <div class="nav-link-text-container">
            <span class="nav-link-text" aria-hidden="true">To Study</span>
        </div>
    </NavLink>
</nav>