.flex-container-wrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid blue;
}

.flex-container-wrap-item-container {
    border: 1px solid red;
    margin-top: 20px;
    width: 350px;
}