.to-custom-link {
    font-size: var(--smallest-font-size);
    cursor: pointer;
    margin-right: 10px;
    font-weight: var(--bold);
    color: var(--grey);
}

.tcl-edit:hover {
    color: var(--custom-blue);
}

.tcl-delete:hover {
    color: #C1251F;
}