@page "/"
@namespace ScratchPad
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ScratchPad</title>
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/Layout/MainLayout.css" rel="stylesheet" />
    <link href="css/Pages/SharedStyles.css" rel="stylesheet" />
    <link href="css/Pages/MobylMenu.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(ScratchPad.Components.App)" render-mode="Server" />
    </app>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
