@page "/"

<PageTitle>Home</PageTitle>

<div>
    <h1 class="page-title">My ScratchPad</h1>
     <p class="page-subtitle">
        My organized way to keep track of My ever growing things have to do, things I want to study, build, and invest in.
    </p>
    <div class="page-body">
        
    </div>
</div>
