@page "/mobylmenu"

<PageTitle>MobylMenu Metrics</PageTitle>
<div>
    <h1 class="page-title">MobylMenu Metrics</h1>
     <p class="page-subtitle">
        Tracking MobylMenu activity.
    </p>
    <div class="page-body">
        <h3 class="page-body-title">Active User Metrics</h3>

        <div class="mm-active-users-container">

            <div class="mm-active-user-metric-container">
                <h4 class="mm-active-user-metric-title">Daily Active Users</h4>
                <span class="mm-active-user-metric-count">0</span>
            </div>

            <div class="mm-active-user-metric-container">
                <h4 class="mm-active-user-metric-title">Weekly Active Users</h4>
                <span class="mm-active-user-metric-count">0</span>
            </div>

            <div class="mm-active-user-metric-container">
                <h4 class="mm-active-user-metric-title">Monthly Active Users</h4>
                <span class="mm-active-user-metric-count">0</span>
            </div>
            
        </div>
    </div>
</div>