@page "/to-build"

<PageTitle>Things to build</PageTitle>
<div>
    <h1 class="page-title">Things to build</h1>
     <p class="page-subtitle">
        The large list of things I want to build in languages I don't yet know.
    </p>
    <div class="page-body">

        <h3 class="page-body-title">Courses to take/in progress</h3>

        <div class="flex-container-wrap">

        </div>
    </div>
</div>