@page "/to-study"

<PageTitle>To Study</PageTitle>
<div>
    <h1 class="page-title">Things to study</h1>
     <p class="page-subtitle">
        Making the best out of my Codecademy subscription.
    </p>
    <div class="page-body">
        <div class="page-body-section">

            <h3 class="page-body-title">Courses to take/in progress</h3>

            <div class="flex-container-wrap">

                <div class="flex-container-wrap-item-container">
                    <h4 class="ts-course-title">Learn Intermediate Java (Codecademy)</h4>
                    <p class="ts-course-subtitle">In progress</p>
                </div>

                <div class="flex-container-wrap-item-container">
                    <h4 class="ts-course-title">Java/Spring</h4>
                    <p class="ts-course-subtitle">TBD</p>
                </div>

            </div>

        </div>

        <div class="page-body-section">

            <h3 class="page-body-title">Completed courses</h3>

            <div class="flex-container-wrap">

                <div class="flex-container-wrap-item-container">
                    <h4 class="ts-course-title">Learn HTML (Codecademy)</h4>
                    <p class="ts-course-subtitle">11/21/2022</p>
                </div>

                <div class="flex-container-wrap-item-container">
                    <h4 class="ts-course-title">Learn CSS (Codecademy)</h4>
                    <p class="ts-course-subtitle">12/21/2022</p>
                </div>

                <div class="flex-container-wrap-item-container">
                    <h4 class="ts-course-title">Data Science: Machine Learning Specialist (Codecademy)</h4>
                    <p class="ts-course-subtitle">12/21/2023</p>
                    <button class="ts-action-button">Subjects</button>
                </div>

                <div class="flex-container-wrap-item-container">
                    <h4 class="ts-course-title">Tensorflow (Codecademy)</h4>
                    <p class="ts-course-subtitle">9/21/2024</p>
                </div>

                <div class="flex-container-wrap-item-container">
                    <h4 class="ts-course-title">Learn C# (Codecademy)</h4>
                    <p class="ts-course-subtitle">12/10/2024</p>
                </div>

            </div>

        </div>
    </div>
</div>
