@page "/to-study"

<PageTitle>To Study</PageTitle>
<div>
    <h1 class="page-title">Things to study</h1>
     <p class="page-subtitle">
        Making the best out of my Codecademy subscription.
    </p>
    <div class="page-body">
        <h3 class="page-body-title">Completed courses</h3>
        <div class="ts-courses-container-wrap">
            <div class="ts-course-container">
                <h4 class="ts-course-title">Learn HTML (Codecademy)</h4>
                <p class="ts-course-subtitle">11/21/2022</p>
            </div>

            <div class="ts-course-container">
                <h4 class="ts-course-title">Learn CSS (Codecademy)</h4>
                <p class="ts-course-subtitle">12/21/2022</p>
            </div>

            <div class="ts-course-container">
                <h4 class="ts-course-title">Data Science: Machine Learning Specialist (Codecademy)</h4>
                <p class="ts-course-subtitle">12/21/2022</p>
                <button class="ts-action-button">Subjects</button>
            </div>
        </div>
    </div>
</div>
