@page "/to-study"

<PageTitle>To Study</PageTitle>
<div>
    <h1 class="page-title">Things to study</h1>
     <p class="page-subtitle">
        Making the best out of my Codecademy subscription.
    </p>
</div>
